body {
    margin: 40px;
    padding: 20px;
}
.header {
    overflow: hidden;
    background-color: white;
    padding: 20px 10px;
}
.header a.logo {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 5px;
    border-radius: 4px;
}
.header img {
    float: left;
}
.header-right {
    float: right;
}
.header a {
    color: gray;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 35px;
    border-radius: 4px;
}
.title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 2px;
    text-decoration: none;
    font-size: 15px;

}
.date {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    padding: 2px;
    text-decoration: none;
    font-size: 10px;
    text-align: center;
}
.followDC button{
    color: white;
    background-color: rgb(66, 176, 209);
    font-family: Arial, Helvetica, sans-serif;
    height: 33px;
    width: 195px;
    font-size: 14px;
}
.followDC {
    text-align: center;
}
.article {
    font-family: 'Times New Roman', Times, serif;
    padding: 4px;
    margin: 20px 80px 10px 80px;
}
.footer a {
    color: gray;
    padding: 12px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 35px;
    border-radius: 4px;
}
.copyright h5{
    color: gray;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}